{% extends "app/dev/templates/base.html" %}
{% block content %}
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4 class="title"><span>Neues Bild anlegen</span></h4>
			<div data-alert="" class="alert-box radius hide">
				<span class="js-alert-message"></span>
				<a class="close-alert right"><i class="fa fa-close"></i></a>
			</div>
			<form method="post" name="contact" id="js-image-form" class="form">
				<div class="row">
					<div class="small-12 columns">
						<label for="description">Beschreibung
							<textarea class="js-form-field" name="description" id="description" placeholder="Mein schönes Bild"></textarea>
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="image">Bild
							<input class="js-form-field" name="image" id="image" type="file" placeholder="Dein Bild" value="" />
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
						<input type="submit" class="submit green-button button small radius" value="Speichern" />
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}