{% extends "app/dev/templates/base.html" %}
{% block content %}
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h4 class="title"><span>Login</span></h4>
			<div data-alert="" class="alert-box radius hide">
				<span class="js-alert-message"></span>
				<a class="close-alert right"><i class="fa fa-close"></i></a>
			</div>
			<form method="post" name="contact" id="js-form" class="form">
				<div class="row">
					<div class="small-12 columns">
						<label for="date">E-Mail
							<input class="js-form-field" name="username" id="username" type="text" placeholder="Deine E-Mail Adresse" />
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="password">Passwort
							<input class="js-form-field" name="password" id="password" type="password" placeholder="Dein Passwort" />
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
						<input type="submit" class="submit green-button button small radius" value="Login" />
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}