<section class="header-top">
</section>
<div class="contain-to-grid sticky">
	<nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large;close_on_click: true">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#" class="logo"><i class="fa fa-calendar"></i> Adventskalender</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Pixtar</span></a></li>
		</ul>
		
		<section class="top-bar-section">
			<ul class="right">
				<li class="active"><a href="#">Home</a></li>
				<li class=""><a href="#signup">Anmelden</a></li>
				<li class=""><a href="#login">Login</a></li>
			</ul>
		</section>
	</nav>
</div>
<div class="header-background"></div>